/* DSMV STUDIO CSS */

::-webkit-scrollbar {
    display: none;
}

/* Default font and widths */
@font-face {
    font-family: 'Regular';
    src: url('font/reg.ttf');
}
@font-face {
    font-family: 'Light';
    src: url('font/lgt.ttf');
}
@font-face {
    font-family: 'Extra Light';
    src: url('font/elg.ttf');
}
@font-face {
    font-family: 'Thin';
    src: url('font/thn.ttf');
}
@font-face {
    font-family: 'Bold';
    src: url('font/bld.ttf');
}

/* Default Properties */
* {
	padding: 0; 
	margin: 0;
	font-family: 'Regular';
	user-select: none;
}
img {
	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
h1 {
	color: #e9edf5;
}
body {
	background-color: #363238;
	height: calc(100vh - 32px);
	overflow: hidden;
	z-index: 1;
}

/* Window control/topbar */
.window_topbar {
	position: relative;
	background-color: #363238;
	width: 100vw;
	height: 32px;
	app-region: drag;
	z-index: 200;
}
.window_topbar h1 { /* this is the window title */
	position: relative;
	font-size: 18px;
	font-family: "Thin";
	padding: 2px 7px 7px 8px;
	float: right;
}
.window_buttons {
	position: absolute;
	display: flex;
}
.window_buttons button {
	background-color: transparent;
	outline: none;
	border: none;
	width: 32px;
	height: 32px;
	padding: 0;
}
.window_buttons img {
	app-region: no-drag;
	width: 24px;
	height: 24px;
	padding: 4px;
}

/* Main window sidebar */
.main_sidebar {
	position: absolute;
	display: block;
	float: right;
	width: calc(110px + 18vw);
	right: 0;
	height: 100%; /* calc(100vh - 32px) */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5vw 0 rgba(0, 0, 0, 0.19);
}
.main_sidebar_title {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
}
.main_sidebar_title img {
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	max-width: 250px;
	justify-content: center;
}
.main_container {
	position: absolute;
	width: calc(100% - calc(110px + 18vw));
	height: 100%;
}

/* Input frame */
.input_frame {
	position: absolute;
	background-color: #363238;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 80vmin;
	height: 60vmin;
	aspect-ratio: 4 / 3;
	z-index: 300;
	box-shadow: 0 6px 5vw 0 rgba(0, 0, 0, 0.19);
	display: none;
	overflow: hidden;
}
.input_frame_title {
	display: block;
	width: 100%;
	height: 10%;
	font-size: 4vmin;
	align-content: center;
	padding: 0px 8px 4px 8px;
	font-family: "Bold";
	color: #e9edf5;
}
.input_buttons {
	position: fixed;
	display: block;
	float: bottom;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10%;
	padding: 4px 4px 4px 4px;
	align-content: end;
}
.input_buttons button {
	position: relative;
	height: 100%;
	max-height: 64px;
	font-size: 2vmin;
	bottom: 0;
	padding: 2px 2vmin 2px 2vmin;
}
#frame_background {
	background-color: #0000007A;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 298;
	display: none;
}
.ui_text_padding {
	padding: 0px 16px 16px 16px;
}

/* debug background colors */
.deb_red {
	background-color: #ff0000;
}